.container {
  background-image: url('~/assets/home/background-home-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.6em 1.6em 3.2em;
  overflow: hidden;

  &__header {
    margin-bottom: 3.2em;

    @include breakpoint-up(medium) {
      margin-bottom: 6.625em;
    }

    @include breakpoint-up(large) {
      margin-top: 2.5em;
      margin-bottom: 15.625em;
    }
  }

  &__largeBtn {
    width: 10em;
    height: 10em;
    display: block;
    margin: 0 auto;
    margin-top: 5.4em;

    @include breakpoint-up(medium) {
      width: 15.125em;
      height: 15.125em;
      margin-top: 9.75em;
    }

    @include breakpoint-up(large) {
      width: 17.125em;
      height: 17.125em;
    }
  }

  @include breakpoint-up(medium) {
    background-image: url('/assets/home/background-home-tablet.jpg');
    padding: 0;
  }

  @include breakpoint-up(large) {
    background-image: url('/assets/home/background-home-desktop.jpg');
  }
}
