.largeBtnText {
  font-family: $ff-serif;
  font-size: var(--fs-650);
  line-height: 1.15;
  letter-spacing: 0.078rem;
  text-transform: uppercase;
  color: $color-dark;
  text-decoration: none;
  background-color: $color-white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;

  @include breakpoint-up(medium) {
    letter-spacing: 0.125rem;
  }
}
