.largeBtn {
  background-color: $color-white;
  border-radius: 50%;

  &__text {
    text-align: center;
  }
}

.mainBtnText {
  font-family: $ff-serif;
  font-size: $fs-650;
  line-height: 1.15;
  letter-spacing: 0.078rem;
  text-transform: uppercase;
  color: $color-dark;
  text-decoration: none;
}
