//Colors
$color-dark: hsl(230, 35%, 7%);
$color-blue: hsl(231, 77%, 90%);
$color-white: hsl(0, 0%, 100%);

//Font-size
$fs-900: 5rem;
$fs-800: 3.5rem;
$fs-700: 1.5rem;
$fs-650: 1.25rem;
$fs-600: 1rem;
$fs-500: 1.75rem;
$fs-400: 0.9375rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

//Font family
$ff-serif: "Bellefair", serif;
$ff-sans-condens: "Barlow Condensed", serif;
$ff-sans-normal: "Barlow", sans-serif;
